[project]
	description = Couchbase .NET client library (official), based on the Enyim memcached client
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Srinivas Gowda (srinivasgowda097)
[access "refs/for/refs/*"]
	read = group user/Srinivas Gowda (srinivasgowda097)
	push = group user/Srinivas Gowda (srinivasgowda097)
	label-Code-Review = -2..+2 group user/Srinivas Gowda (srinivasgowda097)
	label-Verified = -1..+1 group user/Srinivas Gowda (srinivasgowda097)
	rebase = group user/Srinivas Gowda (srinivasgowda097)
	removeReviewer = group user/Srinivas Gowda (srinivasgowda097)
	submit = group user/Srinivas Gowda (srinivasgowda097)
[access "refs/heads/*"]
	read = group user/Srinivas Gowda (srinivasgowda097)
	create = group user/Srinivas Gowda (srinivasgowda097)
	push = +force group user/Srinivas Gowda (srinivasgowda097)
	pushMerge = group user/Srinivas Gowda (srinivasgowda097)
[access "refs/tags/*"]
	push = +force group user/Srinivas Gowda (srinivasgowda097)
	pushTag = group user/Srinivas Gowda (srinivasgowda097)
	pushSignedTag = group user/Srinivas Gowda (srinivasgowda097)
